body {
    background-color: rgb(189, 215, 240);
}
h1{
    font-family: Trebuchet Ms;
    color:rgb(214, 90, 208)
    
}
p{
    font-weight: bold;
    color: rgb(205, 134, 233);
}
#banner{
    width: 200px;
}